.toolbar {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.toolbar li {
  transition: color 0.5s;
}

.toolbar li:hover {
  color: #36b37f;
}

.toolbar li.active {
  color: #36b37f;
}

.toolbar .logo {
  font-weight: 600;
  font-size: 20px;
}

.toolbar .menu {
  display: none;
}

@media screen and (min-width: 40rem) {
  .toolbar {
    justify-content: center;
  }

  .toolbar .logo {
    display: none;
  }

  .toolbar .toggle-button {
    display: none;
  }

  .toolbar .menu {
    justify-content: space-between;
    display: inline-flex;
    width: 15rem;
    font-weight: 600;
  }
}
