.toolbar {
  background-color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.toolbar .logo {
  font-weight: 600;
  font-size: 20px;
}

.toolbar .menu {
  display: none;
}

.toolbar a {
 transition:color 0.5s;

}

.toolbar a:hover {
   color: #008552; 
}

@media screen and (min-width: 40rem) {
  .toolbar {
    justify-content: center;
  }

  .toolbar .logo {
    display: none;
  }

  .toolbar .toggle-button {
    display: none;
  }

  .toolbar .menu {
    justify-content: space-between;
    display: inline-flex;
    width: 15rem;
    font-weight: 600;
  }
}
