.headline {
  margin-top: 60px;
  padding-top: 5rem;
  min-height: 80vh;
  background-image: url('../images/headline-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.headline p {
  margin: 4rem auto;
  max-width: 40rem;
}

.headline li {
  list-style-type: none;
  display: inline;
  color: #505f79;
  font-size: 1.5rem;
  margin: 0 0.3rem;
}

.circular-btn {
  margin: 3rem auto 1rem;
  display: table;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: rgb(255, 255, 255);
  border: solid rgb(202, 202, 202) 1px;
}

.circular-btn i {
  display: table-cell;
  vertical-align: middle;
  transition: color 0.2s;
}

.circular-btn:hover {
  color: white;
  background-color: #505f79;
}

@media screen and (min-width: 40rem) {
  .headline {
    padding-top: 8rem;
    background-image: url('../images/headline-background-large.png');
  }
}

/* @media screen and (min-width: 60rem) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
