.work ul {
  margin: 1rem 0.8rem;
}

.work li {
  font-size: 12px;
  font-weight: 600;
  background-color: #ebf0ee;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;
  margin: 0.2rem 0.1rem;
}

.work .card {
  position: relative;
  outline: solid rgb(202, 202, 202) 2px;
  border-radius: 8px;
  overflow: hidden;
  transition: outline 0.5s;
}

.work .card:hover {
  outline: solid #008552 2px;
}

.work img {
  height: 33vh;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s linear;
}

.work .card img:hover {
  transform: scale(1.1);
  transition: transform 3s linear;

}

.work .card > div {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin-top: -1rem;
  padding: 1rem 0;
  border-radius: 8px;
}
